extends base

block content
  .container
    h1 Simple AI Chat Bot
    h2 with Web Speech API
    p.text-is-center Click the microphone icon,ask chatty your question and wait for Chatty's reply
    span.banner
    button.mic
      i.fa.fa-microphone
    div
      p
        | You said: 
        em.output-you ...
      p
        | Chatty replied: 
        em.output-bot ...